{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}

<br>

<div class="row justify-content-center align-self-center">
    <div class="col-md-6">
        <div class="shadow p-3 mb-5 bg-white rounded" align="center">
            <form action="" method="POST">
                {% csrf_token %}
                <h3>Edit About Us</h3>
                <hr>
                <div class="field">
                    <label class="label">Descriptions:</label>
                    <div class="control">
                        {% render_field form.descriptions row="3" col="5" placeholder="Enter your descriptions... " class="textarea" %}

                    </div>
                </div>
                <hr>
                <div>
                    <h5 class="text-center"> Are you want to Update this descriptions? </h5>
   &nbsp;
                            &nbsp;
                            &nbsp;

                    <div class="row ">
                        <div class="col">
                            <a class="btn btn-danger btn-lg btn-block" href="{% url 'about_us' %}">Cancel</a>

                        </div>
                        <div class="col">
                            <input type="submit" class="btn btn-success btn-lg btn-block">

                        </div>
                    </div>
                </div>
<!--                <input type="submit" name="Submit" class="btn btn-success btn-lg">-->
                {{form.errors}}
            </form>
        </div>
    </div>
</div>


{% endblock %}