{% extends 'accounts/main.html' %}

{% block content %}


<br>


<div class="container">
    <div class="center">
        <div class="shadow p-3 mb-5 bg-white rounded">

            <ul class="list-group list-group-flush">
                <h2 class="text-center">Vision</h2>

                {% for v in vision %}
                <div>
                    <textarea class="form-control" rows="4" cols="80" readonly="readonly">
                    {{v}}
                    </textarea>
                    {% if request.user.is_staff %}

                    <a href="{% url 'edit_vision' v.id %}" class="btn btn-outline-info btn-md float-left">Edit</a>
                    <a href="{% url 'delete_vision' v.id %}"
                       class="btn btn-outline-danger btn-md float-right">Delete</a>
                    {% endif %}
                </div>
                <hr>


                {% endfor %}
            </ul>

        </div>
    </div>
</div>


{% endblock content %}
