{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

    <br>

    <div class="row justify-content-center align-self-center" >
        <div class="col-md-6">
            <div class="shadow p-3 mb-5 bg-white rounded" align="center">
                <form action="" method="POST" >
                    {% csrf_token %}
                    {#                    {{ form.management_form }}#}
<!--                   {{ form.as_p }}-->

                    <table>
                        <tr style="padding-top:10">
                            <td>Name</td>
                            <td>{{ form.profile }}</td>
                        </tr>
                        <tr>
                            <td>Date</td>
{#                            <td>{{ today_date }}</td>#}
                            <td>{{ form.date }}                            <span>YYYY-mm-dd</span>
</td>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td>{{ form.amount }}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>{{form.status}}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>{{form.diposite_slip}}</td>
                        </tr>
                    </table>

                    <hr>
                    <input type="submit" name="Submit">
                {{form.errors}}
                </form>
            </div>
        </div>
    </div>


{% endblock %}