{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}

<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}


h1,h2,h3,h4,h5 {text-align: center;}
p {text-align: center;}





</style>
<hr>
<div class="row">
    <div class="col-md-6">
        <h5>Admin Panel</h5>
        <div class="shadow p-3 mb-5 bg-white rounded">
            <table class="table table-sm">
                <thead class="thead-dark">
                <tr>
                    <th>Profile</th>
                    <th>Admin</th>
                    <th>Phone</th>
                </tr>
                </thead>
                <tr>
                    <td><a class="btn btn-sm btn-info" href="profile/">View</a></td>
                    <td>Name</td>
                    <td>Phone</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-md-6">
        <h5>About us</h5>
        <div class="shadow p-3 mb-5 bg-white rounded">
            {% for au in about_us %}

            <p class="text-justify">
                {{au}}
            </p>
            {% endfor %}
            <center><h4><a href="{% url 'about_us' %}" style="color:black;">Load more...</a></h4></center>

        </div>
    </div>

</div>
<hr>

<div class="row">

    <div class="col-md-6">
        <h5>Vision</h5>
        <div class="shadow p-3 mb-5 bg-white rounded">
            {% for v in vision %}
            <p class="text-justify">
                {{v}}
            </p>
            {% endfor %}
            <center><h4><a href="{% url 'vision' %}" style="color:black;">Load more...</a></h4></center>

        </div>
    </div>

    <div class="col-md-6">
        <h5>Pending Amount</h5>
        <div class="shadow p-3 mb-5 bg-white rounded">
            <table class="table table-sm table-striped table-hover" id="datatable">
                <thead class="thead-dark">
                <tr>
                    <th>Payment Date</th>
                    <th style="text-align:center;">Member's Name</th>
                    <th style="text-align:center;">Pending Amount</th>
                    <th>Status</th>
                </tr>
                </thead>
                {% for a in amount %}

                {% if a.status == 'Pending' %}

                <tr class="table-danger">
                    <td>{{a.date}}</td>
                    <td style="text-align:center;">{{a.profile.name}}</td>
                    <td style="text-align:center;">{{a.amount}}</td>
                    <td>{{a.status}}</td>
                </tr>

                {% endif%}

                {% endfor %}

                <tfoot class="thead-dark">
                <tr>
                    <th>Payment Date</th>
                    <th>Member's Name</th>
                    <th>Total Pending Amount: {{total_pending_amount}}</th>
                    <th>Status</th>
                </tr>
                </tfoot>
            </table>
            <center><h4><a href="pending_amount/" style="color:black;">See more...</a></h4></center>
        </div>
    </div>
</div>

<hr>
<div><h3>Gallery</h3></div>

<div class="row shadow p-3 mb-5 bg-white rounded" style="font-family: Arial, Helvetica, sans-serif">
    <div class="row">
        {% for g in gallery %}
        <div class="column">
            <div class="card">
                <img class="img-fluid img-thumbnail" src="{{g.image.url}}">
                <h3>{{g.title}}</h3>
                <p>{{g.descriptions}}</p>
                <p>{{g.publish_date}}</p>
            </div>
        </div>

        {% endfor %}
    </div>

</div>
<center><h3><a href="{% url 'gallery' %}" style="color:black;">See more...</a></h3></center>


<hr>

<div class="row">

    <div class="col-md-6">
        <center><h5>LAST Month Amounts Details</h5></center>
        <div class="shadow p-3 mb-5 bg-white rounded">
            <table class="table table-sm table-striped table-hover" id="datatable">

                <thead class="thead-dark">
                <tr>
                    <th>Payment Date</th>
                    <th>Member's Name</th>
                    <th>Total Amount</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>

                {% for a in last_amount %}

                {% if a.status == 'Pending' %}

                <tr class="table-danger">
                    <td>{{a.date}}</td>
                    <td>{{a.profile.name}}</td>
                    <td>{{a.amount}}</td>
                    <td>{{a.status}}</td>
                </tr>

                {% else %}

                <tr class="table-success">
                    <td>{{a.date}}</td>
                    <td>{{a.profile.name}}</td>
                    <td>{{a.amount}}</td>
                    <td>{{a.status}}</td>
                </tr>
                {% endif%}

                {% endfor %}
                </tbody>

                <tfoot class="thead-dark">

                <tr>
                    <th>Payment Date</th>
                    <th>Member's Name</th>
                    <th>Amount: {{total_amount}}</th>
                    <th>Status</th>
                </tr>
                </tfoot>
            </table>
            <center><h4><a href="{% url 'amounts' %}" style="color:black;">See more...</a></h4></center>
        </div>
    </div>

    <div class="col-md-6">
        <h5>Terms & Conditions</h5>
        <div class="shadow p-3 mb-5 bg-white rounded">
            {% for tc in transCondition %}

            <p class="text-justify">
                {{tc}}
            </p>
            {% endfor %}
            <center><h4><a href="{% url 'terms_conditions' %}" style="color:black;">Load more...</a></h4></center>

        </div>
    </div>

</div>

<script>
     $('#datatable').DataTable();
















</script>
{% endblock content %}