{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}


<br>

<div class="row justify-content-center align-self-center">
    <div class="col-md-6">
        <div class="shadow p-3 mb-5 bg-white rounded" align="center">
            <form action="" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reset Password</legend>
                    {{form}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
                </div>

            </form>
        </div>
    </div>
</div>

<!--<div class="content-section">-->
<!--    <form action="" method="post">-->
<!--        {% csrf_token %}-->
<!--        <fieldset class="form-group">-->
<!--            <legend class="border-bottom mb-4">Reset Password</legend>-->
<!--            {{form}}-->
<!--        </fieldset>-->
<!--        <div class="form-group">-->
<!--            <button class="btn btn-outline-info" type="submit">Request Password Reset</button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->

{% endblock %}