{% extends 'accounts/main.html' %}

{% block content %}


<br>


<div class="container">
    <div class="center">
        <div class="shadow p-3 mb-5 bg-white rounded">

            <ul class="list-group list-group-flush">
                <h2 class="text-center"><u>Notice</u></h2>

                {% for n in notice %}
                <div>
                    <h4>{{n.notice}}</h4>
                    <p class="text-justify">
                        {{n.publish_date}}
                    </p>
                    <textarea class="form-control text-justify" rows="3" readonly>{{n.descriptions}}</textarea>

                    {% if request.user.is_staff %}

                    <a href="{% url 'edit_notice' n.id %}" class="btn btn-outline-info btn-md float-left">Edit</a>
                    <a href="{% url 'delete_notice' n.id %}"
                       class="btn btn-outline-danger btn-md float-right">Delete</a>
                    {% endif %}
                </div>
                <hr>


                {% endfor %}
            </ul>

        </div>
    </div>
</div>


{% endblock content %}
