{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}

<br>

<div class="row justify-content-center align-self-center">
    <div class="col-md-6">
        <div class="shadow p-3 mb-5 bg-white rounded" align="center">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <h3>Create Gallery</h3>
                <table class="table table-borderless table-hover">
                    <tbody>
                        <tr>
                            <td>Title:</td>
                            <td>{{form.title}}</td>
                        </tr>
                        <tr>
                            <td>Descriptions:</td>
                            <td>{{form.descriptions}}</td>
                        </tr>
                        <tr>
                            <td>Image:</td>
                            <td>{{form.image}}</td>
                        </tr>
                    </tbody>
                </table>

                <hr>
                <input type="submit" name="Submit" class="btn btn-success btn-lg">
                {{form.errors}}
            </form>
        </div>
    </div>
</div>


{% endblock %}